# API Docs

## Index
* [FinVizScreener](#FinVizScreener)
* [Type Definitions](#TypeDefinitions)

{{#class name="FinVizScreener"}}
{{>header~}}
{{>body}}
{{>member-index~}}
{{>members~}}
{{/class}}

<br><a name="TypeDefinitions"></a>

## Type Definitions
{{#globals kind="typedef" ~}}
{{>docs~}}
{{/globals~}}
